<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.flat.min.css" rel="stylesheet" type="text/css" />

    <script src="~/js/jquery-1.7.2.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
    <title>Habra2</title>
</head>
<body>
    <div class="scanlines"></div>
    <div class="header-wrapper opacity">
        <div class="header">
            <div class="logo">
                <a href="~/Wall/ShowPosts">
                    <h1>Habra2</h1>
                </a>
            </div>
            <div id="menu-wrapper">
                <div id="menu" class="menu">
                    <ul id="tiny">
                        <li class="active">
                            <a href="~/Wall/ShowPosts">Posts</a>
                            <ul>
                                <li><a href="~/Wall/ShowPosts">Latest</a></li>
                                <li><a href="~/Wall/ShowPosts">Most Relative</a></li>
                                <li><a href="~/Wall/MyPosts">MyPosts</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Manage/Index">Manage</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="~/Admin/Posts">Admin</a>
                                <ul>
                                    <li><a href="~/Admin/Posts">Posts</a></li>
                                    <li><a href="~/Admin/Users">Users</a></li>
                                </ul>
                            </li>
                                <li><a href="~/Account/Logout">Logout</a></li>
                        }
                        else
                        {
                            <li> @User.Identity.Name </li>
                            <li><a href="~/Account/Login">Login</a></li>
                            <li><a href="~/Account/Register">Register</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    @RenderBody()
    <environment include="Development">


        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="~/style.css" />
        <link rel="stylesheet" type="text/css" href="~/css/media-queries.css" />
        <link rel="stylesheet" type="text/css" href="~/js/player/mediaelementplayer.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
        <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.aspnetmvc.min.js"></script>
        <script type="text/javascript" src="~/js/ddsmoothmenu.js"></script>
        <script type="text/javascript" src="~/js/retina.js"></script>
        <script type="text/javascript" src="~/js/selectnav.js"></script>
        <script type="text/javascript" src="~/js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="~/js/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="~/js/mediaelement.min.js"></script>
        <script type="text/javascript" src="~/js/mediaelementplayer.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.dcflickr.1.0.js"></script>
        <script type="text/javascript" src="~/js/twitter.min.js"></script>
        <script type="text/javascript">
            $.backstretch("/images/bg/1.jpg");
        </script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script><link rel="stylesheet" type="text/css" media="all" href="~/style.css" />
        <link rel="stylesheet" type="text/css" href="~/css/media-queries.css" />
        <link rel="stylesheet" type="text/css" href="~/js/player/mediaelementplayer.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>

        <script type="text/javascript" src="~/js/ddsmoothmenu.js"></script>
        <script type="text/javascript" src="~/js/retina.js"></script>
        <script type="text/javascript" src="~/js/selectnav.js"></script>
        <script type="text/javascript" src="~/js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="~/js/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="~/js/mediaelement.min.js"></script>
        <script type="text/javascript" src="~/js/mediaelementplayer.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.dcflickr.1.0.js"></script>
        <script type="text/javascript" src="~/js/twitter.min.js"></script>

        <script type="text/javascript">
            $.backstretch("/images/bg/1.jpg");
        </script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection( "Scripts", required: false )
</body>
</html>
